body{
  background-color: grey;
  font-family: "CustomTFont";
}

.SectionTitle{
  font-family: "CustomBFont";
  font-weight: bold;
  font-size: 13pt;
  margin-bottom:0pt;
  margin-top:20pt;
  background-color: rgb(255, 255, 255);
}

.SectionContent{
  margin-top:5pt;
  margin-left: 10pt;
}

div.Horizontal{
  margin-top: 0pt !important;
  margin-bottom: 0pt !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: "CustomTFont";
  src: url("../fonts/Titillium-Thin.otf") format("opentype");
}

@font-face {
  font-family: "CustomBFont";
  src: url("../fonts/titillium-bold.ttf") format("opentype");
}
